/* Sidebar Styling */
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    overflow-y: auto;
    transition: width 0.3s ease;
}

.sidebar h3 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar .nav-link {
    color: #ffffff;
    font-size: 1rem;
    padding: 8px;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; /* Added for better user feedback */
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #4CAF50;
    color: #ffffff;
}

.sidebar .collapse .nav-item .nav-link {
    font-size: 0.9rem;
    padding-left: 5px;
    color: #bfbfbf;
    margin: 5px 0;
    width: 10px;
}

/* Toggle Icon Styling */
.icon {
    font-weight: bold;
    font-size: 1rem;
    transition: transform 0.3s ease;
}

.icon.collapsed {
    transform: rotate(180deg);
}

/* Content Area Styling */
.content-area {
    margin-left: 275px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

/* Adjust for when Sidebar is Collapsed */
.sidebar.collapsed {
    width: 70px;
}

.sidebar.collapsed .nav-link {
    justify-content: center;
}

.sidebar.collapsed .nav-link .icon {
    display: inline-block; /* Ensure only icons are visible when collapsed */
}

.sidebar.collapsed .nav-link span {
    display: none;
}

.content-area.collapsed {
    margin-left: 90px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto; /* Allows vertical scrolling if needed */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.table-wrapper {
    flex: 1;
    overflow: auto; /* Allows the table to scroll if needed */
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px; /* Adjusted padding for readability */
    border: 1px solid #ddd;
    text-align: left;
    font-size: 0.9em;
    white-space: nowrap; /* Prevents text from wrapping */
}

input {
    width: 100%; /* Make inputs fill their table cell */
    box-sizing: border-box;
}

/* Toggle Button for Collapsible Sidebar */
.toggle-icon {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.toggle-icon.collapsed {
    transform: rotate(180deg);
}
